 <h1>Funciones</h1>
 <h3>{{nombre}}</h3>
{#funciones predefinidas#}
{{ min([9,11,6,99,2])}} <br/>
{{ max([9,11,6,99,2])}} <br/>

{{dump(animales)}}
{{ random(animales) }} <br/>

{% for i in range(0, 100, 5)%}
    {{i}} <br/>
{%endfor%}

<h1>Filtros</h1>
{{animales|length}}

{% set email = '   email@email.com     ' %}
{{ dump(email|trim|upper|lower) }}

<h1>Extensiones personalizadas</h1>

{{ multiplicar(5)|raw }}
{{ 12|multiplicar|raw}}